<!-- ===== コンテンツ ===== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 main">
            <div th:fragment="question_contents">
                <!-- 質問の情報を表示する部分 -->
                <div th:if="${not #lists.isEmpty(questionList)}">
                    <p th:text="'Category: ' + ${questionList[0].category}"></p>
                    <h2 th:text="${questionList[0].questionStatement}"></h2>

                    <div class="choices">
                        <label><input type="radio" th:name="answer" th:value="1"/> <span th:text="${questionList[0].choice1}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="2"/> <span th:text="${questionList[0].choice2}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="3"/> <span th:text="${questionList[0].choice3}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="4"/> <span th:text="${questionList[0].choice4}"></span></label><br/>
                    </div>

                  	<button onclick="checkAnswer()">Check Answer</button>
                    <p id="result"></p>
                    
                    <button onclick="resetPage()">Reset</button>
                    <br>
                                        
                    <button onclick="toggleExplanation()">解説を見る</button>

                    <p class="explanation" th:text="'解説: ' + ${questionList[0].explanation}"></p>

                </div>
				<script>
				    function checkAnswer() {
				        var selectedAnswer = document.querySelector('input[name="answer"]:checked');
				        var correctAnswer = "${questionList[0].answer.toString()}";
				        var resultElement = document.getElementById('result');
				
				        if (selectedAnswer && selectedAnswer.value === correctAnswer.toString()) {
				            resultElement.textContent = '正解！';
				        } else {	
				            resultElement.textContent = '不正解';
				        }
				    }		
				    function resetPage() {
				        // 結果を消す
				        document.getElementById('result').textContent = '';
				
				        // ラジオボタンをクリアする
				        var selectedAnswer = document.querySelector('input[name="answer"]:checked');
				        if (selectedAnswer) {
				            selectedAnswer.checked = false;
				        }
				    }
				
				    function toggleExplanation() {
				        var explanation = document.querySelector('.explanation');
				        explanation.style.display = explanation.style.display === 'none' ? 'block' : 'none';
				    }
				</script>
            </div>
        </div>
    </div>
</div>