<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 main">
            <div th:fragment="question_contents">
                <!-- 質問の情報を表示する部分 -->
                <div th:if="${not #lists.isEmpty(questionList)}">
                    <p th:text="'Category: ' + ${questionList[currentQuestionIndex].category}"></p>
                    <h2 th:text="${questionList[currentQuestionIndex].questionStatement}"></h2>

                    <div class="choices">
                        <label><input type="radio" th:name="answer" th:value="1"/> <span th:text="${questionList[currentQuestionIndex].choice1}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="2"/> <span th:text="${questionList[currentQuestionIndex].choice2}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="3"/> <span th:text="${questionList[currentQuestionIndex].choice3}"></span></label><br/>
                        <label><input type="radio" th:name="answer" th:value="4"/> <span th:text="${questionList[currentQuestionIndex].choice4}"></span></label><br/>
                    </div>

                    <button onclick="checkAnswer()">回答</button>
                    <p id="result"></p>

                    <button onclick="resetPage()">リセット</button>
                    <br>

                    <button onclick="toggleExplanation()">解説を見る</button>
                    <p class="explanation" th:text="'解説: ' + ${questionList[currentQuestionIndex].explanation}"></p>
                    
                    <!-- 次へボタン -->
			        <form method="post" th:action="@{/nextQuestion}">
						<input type="hidden" name="currentQuestionIndex" th:value="${currentQuestionIndex}"/>
			            <input type="submit" value="次へ"/>
			        </form>
			        
			        <!-- 戻るボタン -->
			        <form method="post" th:action="@{/previousQuestion}">
			            <input type="submit" value="戻る"/>
			        </form>
                    
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var correctAnswer = /*[[${questionList[currentQuestionIndex].answer.toString()}]]*/ null;
                        /*]]>*/
                    </script>
                    <script>
                        function checkAnswer() {
                            var selectedAnswer = document.querySelector('input[name="answer"]:checked');
                            var resultElement = document.getElementById('result');

                            if (selectedAnswer.value === correctAnswer.toString()) {
                                resultElement.textContent = '正解！';
                            } else {
                                resultElement.textContent = '不正解！';
                            }
                        }

                        function resetPage() {
                            // 結果を消す
                            document.getElementById('result').textContent = '';

                            // ラジオボタンをクリアする
                            var selectedAnswer = document.querySelector('input[name="answer"]:checked');
                            if (selectedAnswer) {
                                selectedAnswer.checked = false;
                            }
                        }

                        function toggleExplanation() {
                            var explanation = document.querySelector('.explanation');
                            explanation.style.display = explanation.style.display === 'none' ? 'block' : 'none';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>